@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --color-primary: #17C0CC;
      --color-secondary: #6F9B9E;
      --color-text-base: white;
      --color-bg-primary: #1c2521;
      --color-movingText: #EEEEEE;
      --color-secondaryColor: white;
      color: white;
    }

  *{
    @apply transition-colors duration-1000 ease-in-out;
  }

  body{
    overflow: hidden;
  }

  }

   
    .theme-0 {
    --color-primary: #17C0CC;
    --color-secondary: #6F9B9E;
    --color-bg-primary: white;
    --color-text-base: white;
    --color-movingText: #EEEEEE;
    --color-secondaryColor:black;
    color: black; 
  }


  .theme-1 {
    --color-primary: #090731;
    --color-secondary: #161179;
    --color-bg-primary: #0C0950;
    --color-text-base: white;
    --color-movingText: #211e58;
    --color-secondaryColor: white;
    color: white;
  
  }
 
  .theme-2 {
    --color-primary: #4B70F5;
    --color-secondary: #2b53e2;
    --color-bg-primary: white;
    --color-text-base: white;
    --color-movingText: #EEEEEE;
    --color-secondaryColor: white;
    color: black;
  
  }
  
  .theme-3 {
    --color-primary: #B82132;
    --color-secondary: hsl(270, 100%, 75%);
    --color-bg-primary: #D2665A;
    --color-text-base: white;
    --color-movingText: #EEEEEE;
    --color-secondaryColor: white;
    color: white;
  
  }