@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --color-primary: #17C0CC;
      --color-secondary: #6F9B9E;
      --color-text-base: white;
      --color-bg-primary: #1c2521;
      --color-movingText: #EEEEEE;
      --color-secondaryColor: white;
      color: white;
    }

  *{
    @apply transition-colors duration-1000 ease-in-out;
  }

  body{
    overflow: hidden;
  }

  }

    
  .theme-dark {
    --color-primary: #090731;
    --color-secondary: #161179;
    --color-bg-primary: #0C0950;
    --color-text-base: white;
    --color-movingText: #211e58;
    --color-secondaryColor: white;
    color: white;
  
  }

  .theme-light {
    --color-primary: #17C0CC;
    --color-secondary: #6F9B9E;
    --color-bg-primary: white;
    --color-text-base: white;
    --color-movingText: #EEEEEE;
    --color-secondaryColor:black;
    color: black;
    
  }
  
  .theme-orange {
    --color-primary: hsl(25, 39%, 17%);
    --color-secondary: hsl(25, 100%, 65%);
    --color-bg-primary: #644112;
    --color-text-base: white;
    --color-movingText: #EEEEEE;
    --color-secondaryColor: white;
    color: white;
  
  }
  
  .theme-purple {
    --color-primary: hsl(270, 27%, 22%);
    --color-secondary: hsl(270, 100%, 75%);
    --color-bg-primary: #48124d;
    --color-text-base: white;
    --color-movingText: #EEEEEE;
    --color-secondaryColor: white;
    color: white;
  
  }